h1{
    font-family:"Arial";
   

}

p{
    font-family:"Arial";
    font-size:20px;
    color:black;
    
}



body{
    background-color:rgb(179, 233, 255); 
}


#wrapper{
    font-family:"Arial";
    width: 600px;
    margin: 0 auto;
    background: rgb(252, 252, 252);
    padding: 10px 15px;
    border-radius:10px;

}

input{
    font-family:"Comic Sans MS", cursive, sans-serif;
}

button{
    
    margin: 20px;
}